<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ChatSessionMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ChatSession">
            <id property="id" column="id" />
            <result property="user1id" column="user1Id" />
            <result property="user2id" column="user2Id" />
            <result property="recruitmentid" column="recruitmentId" />
            <result property="createtime" column="createTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user1Id,user2Id,recruitmentId,createTime,isDelete
    </sql>
</mapper>
