<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miji.cms.mapper.TeamMemberMapper">

    <resultMap id="BaseResultMap" type="com.miji.cms.model.domain.TeamMember">
            <id property="id" column="id" />
            <result property="userid" column="userId" />
            <result property="teamid" column="teamId" />
            <result property="role" column="role" />
            <result property="jointime" column="joinTime" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,teamId,role,joinTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>
