.page[data-v-1d975eef]{padding:24px}.page h2[data-v-1d975eef]{margin-top:0;margin-bottom:24px}.filter-bar[data-v-1d975eef]{margin-bottom:20px}.loading-tip[data-v-1d975eef]{text-align:center;padding:40px;color:#909399}
