.page[data-v-5469c23b]{padding:24px}.page h2[data-v-5469c23b]{margin-top:0;margin-bottom:24px}.filter-bar[data-v-5469c23b]{margin-bottom:20px}.loading-tip[data-v-5469c23b]{text-align:center;padding:40px;color:#909399}
